@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Fonts

html {
  font-family: "Roboto", sans-serif;
}

// Variables

// Colors

$imperial-red: #e63946ff;
$honeydew: #f1faeeff;
$powder-blue: #a8dadcff;
$celadon-blue: #457b9dff;
$prussian-blue: #1d3557ff;
$text-light: #fff;

// Border

$border-radius: 10px;
$box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);

// Padding

$padding: 50px;

// Buttons
// KeyFrames
// Bounce
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

// Swirl

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

// Standard CSS

html {
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Try to keep your margins going in one direction to avoid margin collapase or grounding. I switch all the top margins off to avoid this issue. */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  color: inherit;
  text-decoration: none;
  /* You MUST make sure that links stand out from nomal text though...*/
}

/*
    a:hover,
    a:focus {
      text-decoration: underline;
    }
  */

img {
  /* This means that it can be less than 100% of the width of its parent IF the image is INTRINSICALLY smaller */
  max-width: 100%;

  height: auto;
  /* 'auto' is the initial value for height BUT for images (and other elements which have an intrinic height) that is not the case. To make an image responsive you set one dimension (usually width) to [max-]width: 100%; and the other to 'auto' to ensure it keeps aspect ratio. 'auto' basically tells the browser to decide. */
  vertical-align: middle;
  /* minor vertical centering. Works for images IF there is a baseline (i.e. they are displayed inline or inline-block) */
}

/* Because we us <ul>s for lists that we don't always want bulletted. */
ul {
  list-style: none;
  padding-left: 0;
}

/* To make actual bulletted lists */
ul.typographic {
  list-style: initial;
  padding-inline-start: 20px;
}

/* For 'accessibility text'. If your button only has an image inside it that isn't good for accessibility. Put a span inside there and give it this class and put some descriptive text for what the button does into the span. */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

// Custom CSS

// General Styles

main {
  h1 {
    background-color: $celadon-blue;
    color: $text-light;
    margin: 0;
    padding: 10px 50px;
  }
  h2,
  h3 {
    margin: 20px 50px;
  }
  .wp-block-cover {
    width: inherit;
    padding: 60px;
    .wp-image-9405 {
      animation: bounce-in-top 1.1s both;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
      pointer-events: none;
    }
    .has-text-align-center {
      margin-bottom: 10px;
    }
  }
  .wp-block-button__link {
    background-color: $imperial-red;
    margin: 20px 0;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
  }
  .wp-block-button__link:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
  }
  .action-card {
    padding: 20px;
    background-color: $powder-blue;
    padding: $padding;
    .wp-image-9229 {
      padding: 10px;
      height: 100px;
      width: 100px;
    }
    .wp-block-pullquote {
      margin: 0;
      padding: 0;
    }
  }
  .wp-block-group h2 {
    padding: 20px 0;
  }
  .about-image-block {
    position: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin: 0;
    .wp-block-image img {
      width: 100%;
      margin: 0;
    }
  }
  .wp-block-image {
    margin: 0;
  }
  .adult-cover {
    position: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin: 0;
  }
  .children-cover {
    position: block;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    margin: 0;
  }
  .children-class-info-block,
  .adult-class-text {
    margin: 30px 50px 50px;
    padding: 10px 30px;
    background-color: $powder-blue;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    .children-class-info-block-heading,
    .adult-class-text-heading {
      margin: 0;
      color: $imperial-red;
    }
  }
  .testimonial-block {
    margin: 0 50px;
    h2 {
      margin: 0;
      color: $prussian-blue;
    }
    .alignwide {
      margin: 0 auto;
      max-width: 950px;
    }
    .wp-block-columns {
      margin: 0 0 50px 0;
      strong {
        color: $imperial-red;
      }
      .is-style-rounded {
        transition: all 0.2s ease-in-out;
      }
      .is-style-rounded:hover {
        transform: scale(1.1);
      }
    }
  }
  .mission-statement {
    background-color: $imperial-red;
    color: white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 20px;
    margin: 0 50px 50px;
    .has-large-font-size {
      margin: 0;
    }
    p {
      padding: 20px;
    }
  }

  .about-block {
    background-color: $powder-blue;
    margin: 50px;
    border-radius: $border-radius;
    padding: 40px;
    box-shadow: $box-shadow;
    .has-primary-color {
      color: $imperial-red;
      margin: 0 0 20px 0;
    }
    .wp-block-group__inner-container {
      padding: 10px 0;
      .wp-block-column p {
        margin: 0;
      }
    }
  }
  .instructor-block {
    margin: 20px 50px;
    .instructor-heading {
      margin: 0;
    }
  }
  .address-block {
    margin: 0 50px 50px 50px;

    .address-column {
      background-color: $prussian-blue;
      color: $text-light;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      padding: 30px;
      display: flex;
      flex-direction: column;
      strong {
        color: $imperial-red;
      }

      p {
        margin: 10px 40px;
      }
      a {
        text-decoration: underline;
      }
      a:hover {
        color: goldenrod;
        transition: all 200ms ease-in;
      }
    }
  }

  .wp-block-table {
    margin: 0 50px;
    table {
      border: 5px solid $celadon-blue;
      td {
        padding: 10px;
      }
    }
  }
  .wp-block-gallery {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    pointer-events: none;
  }
  .features-benefits,
  .feature-columns {
    margin: 20px 50px 30px;
    .feature-column {
      background-color: $prussian-blue;
      color: $text-light;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      padding: 30px;
      display: flex;
      flex-direction: column;
      min-height: 580px;
      h2 {
        text-align: center;
        color: $imperial-red;
      }
      .feature-image {
        margin-bottom: 40px;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        pointer-events: none;
      }
      .feature-column a {
        text-decoration: underline;
      }
      .feature-column-para {
        margin-bottom: 20px;
      }
      strong {
        color: $imperial-red;
      }
    }
  }

  .wp-block-gallery {
    padding: 2rem;
    max-width: 950px;
    margin: 0 auto;
    .blocks-gallery-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 1rem;
      grid-auto-flow: dense;
      .blocks-gallery-item {
        height: 100%;
        width: 100%;
        figure {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .wp-image-9294 {
    border: 1px solid black;
  }

  .privacy-block {
    margin: 30px 50px;
  }

  .contact-group {
    margin: 50px;
  }
  iframe {
    width: 80vw;
    margin: 0 50px 50px;
  }
  .instagram-container {
    margin: 0 10px;
  }
}

.form-bold {
  font-weight: bold;
}
.footer-logo {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}

// Media Quires Tablets

@media screen and (max-width: 781px) {
  main {
    .wp-block-columns {
      display: flex;
      flex-direction: column;
      .wp-block-column {
        margin-left: 0;
        margin-bottom: 50px;
      }
    }
    .instagram-container,
    .instagram-heading {
      display: none;
    }
  }
}

// Media Quires Phones

@media screen and (max-width: 480px) {
  main {
    justify-content: center;
    .instructor-header {
      margin: 0 auto;
    }

    h2 {
      margin: 0 25px;
    }
    .wp-block-table,
    .address-block,
    .adult-class-text,
    .testimonial-block,
    .mission-statement,
    .about-block,
    .features-benefits,
    .feature-columns,
    .children-class-info-block,
    .about-block,
    .features-block,
    .instructor-block,
    .contact-group,
    .privacy-block {
      margin: 20px 25px;
    }

    .wp-block-group {
      h2 {
        margin: 0 auto;
      }
      .wp-block-image {
        margin: 0 auto;
      }
      p {
        margin: 0 auto;
      }
      .wp-block-columns {
        margin-bottom: 20px;
      }
    }
  }

  .footer-logo {
    display: none;
  }
}

// Form Styles
.MuiFormLabel-root,
.MuiButtonBase-root,
.MuiInputBase-input {
  font-size: 2rem;
}

.MuiFormHelperText-root {
  font-size: 1.5rem;
}

// Under Construction Page
// .uc-container {
//   background-color: $celadon-blue;
//   color: $text-light;
//   height: 100vh;
//   width: 100vw;
//   padding: 50px;

//   .uc-logo {
//     height: 250px;
//     width: 250px;
//     margin-bottom: 20px;
//     -webkit-user-select: none;
//     -webkit-touch-callout: none;
//     pointer-events: none;
//     -webkit-user-select: none; /* Chrome all / Safari all */
//     -moz-user-select: none; /* Firefox all */
//     -ms-user-select: none; /* IE 10+ */
//     -o-user-select: none;
//     user-select: none;
//   }
//   img {
//   }
// }
